* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    height: 100vh;
    background-color: #242424;
    color: white;
}

.container {
    display: flex;
    height: 100vh;
}

/* MENU DE NAVEGAÇÃO LATERAL */

.nav {
    width: 50px;
    height: 100%;
    background-color: #222222;
    padding: 20px 0 10px 0;
    box-shadow: 2px 0 0 rgb(214, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    transition: 0.5s;
    overflow: hidden;
}

.nav:hover {
    width: 170px;
}

.nav:hover .txt-link {
    margin-left: 20px;
    opacity: 1;
}

.nav:hover + .main-container {
    filter: brightness(0.3);
    transition: 0.5s;
}

.nav ul {
    height: 100%;
    list-style-type: none;
}

.itens li {
    width: 100%;
    margin-bottom: 3px;
    transition: 0.2s;
    border-left: 2px solid transparent;
}

.itens li:hover{
    background-color: #61616159;
    border-left: 2px solid rgb(214, 0, 0);
}

.itens a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    padding: 15px 5px;
    display: flex;
    align-items: center;
    width: 100%;
    line-height: 40px;
}

.txt-link {
    margin-left: 70px;
    transition: 0.7s;
    opacity: 0;
}

.icon i {
    font-size: 25px;
    margin-left: 3px;
}

/* HEADER */

.header-content {
    width: 100%;
    background-image: linear-gradient(to right, rgb(65, 17, 17), rgb(190, 2, 2));
    flex-shrink: 0;
    top: 0;
    position: sticky;

}

.logo {
    display: flex;
    padding: 2px;
    margin-left: 10px;
}

.logo img {
    width: 60px;
    height: 60px;
    margin-top: 5px;
    border-radius: 100%;
}

.logo p {
    font-family: monospace;
    font-size: 25px;
    padding: 10px 15px;
    line-height: 50px;
}

/* CONTEÚDO PRINCIPAL */

.main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
    margin-left: 52px;
    opacity: 1;
    transition: 0.5s;
}

.main {
    width: 100%;
}

.interface {
    height: 100%;
}

section {
    height: 100vh;
    display: flex;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    scroll-margin-top: 74px;
}

.page1 {
    background-color: rgb(14, 14, 14);
    display: block;
}

.page1-layout {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 1fr;
    gap: 8px;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.page1 .column {
    background-color: rgb(44, 44, 44);
    padding: 20px;
    display: flex;
    align-items: center;
    border-radius: 1rem;
}

.page1 .a1 {
    text-align: center;
    flex-direction: column;
}

.a1-content {
    font-size: 13px;
    padding: 0 2px 0;
    justify-content: center;
    margin-bottom: 20px;
}

.a1-content h1 {
    margin-bottom: 10px;
    text-align: center;
}

.a1-image img {
    width: 100px;
    border-radius: 100%;
}

.page1 .a2 {
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.page2 {
    background-color: rgb(61, 61, 61);
}

.page3 {
    background-color: rgb(131, 131, 131);
}
